@page
@model Nkgjjm.Areas.Panel.Pages.Report.VillageInchargeModel
@{

int i = 1;
}
<div class="top-bar">
    <nav aria-label="breadcrumb" class="-intro-x mr-auto hidden sm:flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Application</a></li>
            <li class="breadcrumb-item active" aria-current="page">Village Incharge List</li>
        </ol>
    </nav>
    <!-- END: Account Menu -->
</div>
<h2 class="intro-y text-lg font-medium mt-0" style="background-color:#02B9B5; text-align:center; font-weight:bolder; color:white;">
    Village Incharge List
</h2>
<div class="grid grid-cols-12 gap-6 mt-1">
    <div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2">      

        <div class="hidden md:block mx-auto text-slate-500">Total @Model.TotalVillageIncharge Village Incharge</div>
        <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0">
            <div class="w-56 relative text-slate-500">
                <form method="post">
                    <input type="text" class="form-control w-56 box pr-10" name="districtname" placeholder="Search...">
                    <i class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0" data-lucide="search"></i>
                </form>
            </div>
        </div>
    </div>
    <!-- BEGIN: Data List -->
    <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
        <table class="table table-report">
            <thead>
                <tr>

                    <th class="text-center whitespace-nowrap">
                        S.No.
                        </th>
                    <th class="text-center whitespace-nowrap">
                        Name
                    </th>
                    <th class="text-center whitespace-nowrap">
                        Contact No
                    </th>
                    <th class="text-center whitespace-nowrap">
                       Email
                    </th>
                    <th class="text-center whitespace-nowrap">
                        Warehouse Name
                    </th>
                    <th class="text-center whitespace-nowrap">
                        Person Name
                    </th>
                   
                     
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.VillageInchargeList)
                {
                    <tr>
                         <td class="text-center">@i</td>
                       
                        <td class="text-center">
                            @item.Username
                        </td>
                       <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Mobile)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>

                         <td class="text-center">
                            @Html.DisplayFor(modelItem => item.WarehouseName)
                        </td>
                         <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Userid)
                        </td>
                        
                       
                       
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
    <!-- END: Data List -->
</div>

