@page
@model Nkgjjm.Areas.Panel.Pages.Supplier.IndexModel

@{
    ViewData["Title"] = "Index";
    int i = 1;
}
<div class="top-bar">
    <nav aria-label="breadcrumb" class="-intro-x mr-auto hidden sm:flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Application</a></li>
            <li class="breadcrumb-item active" aria-current="page">Supplier List</li>
        </ol>
    </nav>
    <!-- END: Account Menu -->
</div>
<h2 class="intro-y text-lg font-medium mt-0" style="background-color:#02B9B5; text-align:center; font-weight:bolder; color:white;">
    Supplier List
</h2>
<div class="grid grid-cols-12 gap-6 mt-5">
    <div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2">
        <a class="btn btn-primary shadow-md mr-2" asp-page="Create">Add New Supplier</a>

        <div class="hidden md:block mx-auto text-slate-500">Showing Supplier(s)</div>
        <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0">
            <div class="w-56 relative text-slate-500">
                <form method="post">
                    <input type="text" class="form-control w-56 box pr-10" name="warehouse" placeholder="Search...">
                    <i class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0" data-lucide="search"></i>
                </form>
            </div>
        </div>
    </div>
    <!-- BEGIN: Data List -->
    <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
        <table class="table table-report -mt-2">
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>
                        Company Name
                    </th>
                    <th>
                        Contact Person Name
                    </th>
                    <th>
                        Contact No
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Suppliers[0].Email)
                    </th>
                   
                    <th>
                        Gst No
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Suppliers[0].Address)
                    </th>
                    <th>
                        Pan no
                    </th>
                    <th>
                        Added Date
                    </th>
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Suppliers)
                {
                    <tr class="intro-x">
                       <td class="text-center text-wrap">
                            @i
                        </td>
                        <td class="text-center text-wrap">
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.ContactPersonName)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.ContactNo)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                      
                       <td class="text-center">
                            @Html.DisplayFor(modelItem => item.GstNo)
                        </td>
                       <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                      <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Panno)
                        </td>
                       <td class="text-center">
                            @item.AddedDate.ToString().Remove(10,9)
                        </td>
                        
                    </tr>
                    i++;
                    
                }
            </tbody>
        </table>
    </div>
    <!-- END: Data List -->

</div>
<!-- BEGIN: Delete Confirmation Modal -->
<div id="delete-confirmation-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="p-5 text-center">
                    <i data-lucide="x-circle" class="w-16 h-16 text-danger mx-auto mt-3"></i>
                    <div class="text-3xl mt-5">Are you sure?</div>
                    <div class="text-slate-500 mt-2">
                        Do you really want to delete these records?
                        <br>
                        This process cannot be undone.
                    </div>
                </div>
                <div class="px-5 pb-8 text-center">
                    <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-24 mr-1">Cancel</button>
                    <button type="button" class="btn btn-danger w-24">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Delete Confirmation Modal -->
