@page
@model Nkgjjm.Areas.WareHouseIncharge.Pages.Warehouseincharge.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="top-bar">
    <nav aria-label="breadcrumb" class="-intro-x mr-auto hidden sm:flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Application</a></li>
            <li class="breadcrumb-item active" aria-current="page">Item Received</li>
        </ol>
    </nav>
    <!-- END: Account Menu -->
</div>
<h2 class="intro-y text-lg font-medium mt-0" style="background-color:#02B9B5; text-align:center; font-weight:bolder; color:white;">
    Item Received
</h2>
<div class="intro-y box mt-5 pb-5">
    <form method="post" asp-page-handler="Receiveditem" enctype="multipart/form-data">
        <div id="horizontal-form" class="p-5">
            <div class="preview">
                <div class="form-inline">

                    <label for="horizontal-form-1" class="form-label sm:w-20"><strong>Po Id </strong></label>
                    <input type="text" name="Ponumber" class="form-control" value="@Model.Ponumber" readonly id="searchtext" style="background-color:wheat;" />

               

                    <label for="horizontal-form-1" class="form-label sm:w-20"><strong>Challan/ Invoice number</strong></label>
                    <input type="text" asp-for="PoVehicleDetail.ChallanNumber" class="form-control" id="searchtext" style="background-color:wheat;" />

                </div>
                <div class="form-inline mt-5">

                    <label for="horizontal-form-1" class="form-label sm:w-20"><strong>Challan/ Invoice Date</strong></label>
                    <input type="date" asp-for="PoVehicleDetail.Challan_InvoiceDate" class="form-control" id="searchtext" style="background-color:wheat;" />

              

                    <label for="horizontal-form-1" class="form-label sm:w-20"><strong>Vehicle Number</strong></label>
                    <input type="text" asp-for="PoVehicleDetail.VehicleNumber" class="form-control" id="searchtext" style="background-color:wheat;" />

                </div>
                <div class="form-inline mt-5">

                    <label for="horizontal-form-1" class="form-label sm:w-20"><strong>LR/Bilty No</strong></label>
                    <input type="text" class="form-control" asp-for="PoVehicleDetail.LR_BiltyNo" id="searchtext" style="background-color:wheat;" />

             

                    <label for="horizontal-form-1" class="form-label sm:w-20"><strong>Transporter Name</strong></label>
                    <input type="text" class="form-control" asp-for="PoVehicleDetail.TransporterName" id="searchtext" style="background-color:wheat;" />

                </div>
                <div class="form-inline mt-5">

                    <label for="horizontal-form-1" class="form-label sm:w-20"><strong>Warehouse Id</strong></label>
                    <input type="text" class="form-control" name="warehousename" value="@Model.Warehouseid" readonly id="searchtext" style="background-color:wheat;" />

                </div>
            </div>
        </div>
        @if (Model.SPMaterialReceivedCorrespondenceToPo != null && Model.SPMaterialReceivedCorrespondenceToPo.Count > 0)
        {

            <div class="grid grid-cols-12 gap-6 mt-0" style="overflow-x:auto;">
                <!-- BEGIN: Data List -->
                <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
                    <table class="table table-report" id="orders">

                        <tr>
                            <th class="text-center whitespace-nowrap">
                                Item Code
                            </th>
                            <th class="text-center whitespace-nowrap">
                                Item Name
                            </th>
                            <th class="text-center whitespace-nowrap">
                                PO Qty
                            </th>
                           @* <th class="text-center whitespace-nowrap">
                                Earlier Rcvd Qty
                            </th>*@
                            <th class="text-center whitespace-nowrap">
                                Chln/Inv Qty
                            </th>
                            <th class="text-center whitespace-nowrap">
                                Rcvd Qty
                            </th>
                            <th class="text-center whitespace-nowrap">
                                Short(+)/Excess(-)
                            </th>
                            <th class="text-center whitespace-nowrap">
                                Balance Qty
                            </th>
                        </tr>
                        @foreach (var item in Model.SPMaterialReceivedCorrespondenceToPo)
                        {

                            <tr>
                                <td class="text-center">@item.ItemCode</td>
                                <td class="text-center">@item.ItemName</td>
                                <td class="text-center"><input type="text" class="form-control Receivedqty" readonly value="@item.Qty" /></td>
                                @*<td class="text-center">@item.TotalReceived</td>*@
                                <td class="text-center"><input type="text" class="form-control Challanqty" /></td>
                                <td class="text-center"><input type="text" class="form-control Physicalqty" /></td>
                                <td class="text-center"><input type="text" class="form-control Short" /></td>
                                <td class="text-center"><input type="text" class="form-control Balanceqty" /></td>


                            </tr>
                        }
                    </table>
                </div>

            </div>
            <div id="horizontal-form" class="p-5">
                <div class="preview">
                    <div class="form-inline">
                        <label for="horizontal-form-1" class="form-label sm:w-20"><strong>Upload Doc </strong></label>
                        <input type="file" id="UploadDoc" name="UploadDoc" class="form-control" />

                    </div>
                    <p style="color:red;padding: 21px 10px 10px 5px;">Note: Combination of all Documents in Pdf format</p>
                </div>
            </div>

            <div class="sm:pl-5 mt-1 mb-5">
                <input type="submit" value="Submit" id="add" class="btn btn-primary" />
                <!-- END: Data List -->
            </div>
            <input type="hidden" name="jobworkdesc">
           

        }
    </form>
</div>
<!-- BEGIN: Delete Confirmation Modal -->
@section Scripts {
    <script>
        $("#add").click(function() {
            var indentdesc = new Array();
            $('#orders tr').each(function(i, row) {
                var ItemId = $(this).closest('tr').find("td").eq(0).html();
                var Receivedqty = $(this).closest('tr').find("td:eq(5) input").val();
                var Challanqty = $(this).closest('tr').find("td:eq(4) input").val();
                var po = {};
                po.Particular = ItemId;
                po.Receivedqty = Receivedqty;
                po.Challanqty = Challanqty;
                indentdesc.push(po);
            });
            document.getElementsByName("jobworkdesc")[0].value = JSON.stringify(indentdesc);
        });


        $(document).ready(function() {

            $(document).on('input', '#orders .Physicalqty', function() {
                var currentRow = $(this).closest("tr");
                var ActualQty = currentRow.find("td:eq(2) input").val();
                var Rcvdqty = currentRow.find("td:eq(5) input").val();
                var invoiceqty = currentRow.find("td:eq(4) input").val();
                var Balanceqty = parseFloat(ActualQty - Rcvdqty);
                var shorter = parseFloat(invoiceqty - Rcvdqty);
                currentRow.find("td:eq(6)").html(shorter);
                currentRow.find("td:eq(7)").html(Balanceqty);

            });
        });

        $(document).ready(function() {

            $(document).on('blur', '#orders .Challanqty', function() {
                var currentRow = $(this).closest("tr");
                var ActualQty = currentRow.find("td:eq(2) input").val();                
                var invoiceqty = currentRow.find("td:eq(4) input").val();
                
                currentRow.find("td:eq(4)").val("");
                //currentRow.find("td:eq(7)").html(Balanceqty);

            });
        });
    </script>

}
