@page
@model Nkgjjm.Areas.WareHouseIncharge.Pages.IndexModel
@{
    int i = 1;
}

<div class="top-bar">
    <nav aria-label="breadcrumb" class="-intro-x mr-auto hidden sm:flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Application</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
    </nav>
    <!-- END: Account Menu -->
</div>
<div class="grid grid-cols-12 gap-6">
    <div class="col-span-12 2xl:col-span-9">
        <div class="grid grid-cols-12 gap-6">
            <!-- BEGIN: General Report -->
            <div class="col-span-12 mt-0">
                <div class="intro-y flex items-center h-10">
                    <h2 class="text-lg font-medium truncate mr-5">
                        General Report
                    </h2>

                </div>
                <div class="grid grid-cols-12 gap-6 mt-5">
                    <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                        <a asp-page="/PO/Index">
                            <div class="report-box zoom-in">
                                <div class="box p-5">
                                    <div class="flex">
                                        <i data-lucide="edit" class="report-box__icon text-primary"></i>

                                    </div>
                                    <div class="text-3xl font-medium leading-8 mt-6">@Model.TotalPo</div>
                                    <div class="text-base text-slate-300 mt-1">Active Po's</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-span-12 sm:col-span-12 xl:col-span-3 intro-y">
                        <a asp-page="/Jobworks/Index">
                            <div class="report-box zoom-in">
                                <div class="box p-5">
                                    <div class="flex">
                                        <i data-lucide="credit-card" class="report-box__icon text-pending"></i>

                                    </div>
                                    <div class="text-3xl font-medium leading-8 mt-6">@Model.TotalJobOrders</div>
                                    <div class="text-base text-slate-500 mt-1">Job Orders</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                        <a asp-page="/Ho/IndentMaster">
                            <div class="report-box zoom-in">
                                <div class="box p-5">
                                    <div class="flex">
                                        <i data-lucide="file-minus" class="report-box__icon text-warning"></i>

                                    </div>
                                    <div class="text-3xl font-medium leading-8 mt-6">@Model.Totalindent</div>
                                    <div class="text-base text-slate-500 mt-1">Pending Indents</div>
                                </div>
                            </div>
                        </a>
                    </div><div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                        <a asp-page="/Jobworks/Index">
                            <div class="report-box zoom-in">
                                <div class="box p-5">
                                    <div class="flex">
                                        <i data-lucide="credit-card" class="report-box__icon text-pending"></i>

                                    </div>
                                    <div class="text-3xl font-medium leading-8 mt-6">@Model.TotalJobOrders</div>
                                    <div class="text-base text-slate-500 mt-1">Job Orders</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                        <a asp-page="/Ho/IndentMaster">
                            <div class="report-box zoom-in">
                                <div class="box p-5">
                                    <div class="flex">
                                        <i data-lucide="file-minus" class="report-box__icon text-warning"></i>

                                    </div>
                                    <div class="text-3xl font-medium leading-8 mt-6">@Model.Totalindent</div>
                                    <div class="text-base text-slate-500 mt-1">Pending Indents</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
  
</div>



<div class="col-span-12 mt-6">

    <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
        @if (Model.SpWareHouseStockReport != null)
        {

            <div class="grid grid-cols-12 gap-6 mt-0" style="overflow-x:auto;">
                <!-- BEGIN: Data List -->
                <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
                    <table class="table table-report" style="background-color:#DEDEDE">
                        <thead>
                            <tr>

                                <th class="text-center whitespace-nowrap">
                                    S.No.
                                </th>

                                <th class="text-center whitespace-nowrap">
                                    Item Code
                                </th>
                                <th class="text-center whitespace-nowrap">
                                    Item Name
                                </th>
                                <th class="text-center whitespace-nowrap">
                                    UOM
                                </th>
                                <th class="text-center whitespace-nowrap">
                                    Opn. Stock
                                </th>
                                <th class="text-center whitespace-nowrap" style="text-decoration: underline; color:blue;">
                                    <a asp-page="/Report/Inward">
                                        Inward
                                    </a>
                                </th>
                                <th class="text-center whitespace-nowrap" style="text-decoration: underline; color:blue;">
                                    <a asp-page="/Report/outWard">
                                        Outward
                                    </a>
                                </th>
                                <th class="text-center whitespace-nowrap" style="text-decoration: underline; color:blue;">
                                    <a asp-page="/Report/Freeze">
                                        Freezed
                                    </a>
                                </th>
                                <th class="text-center whitespace-nowrap" style="text-decoration: underline; color:blue;">
                                    <a asp-page="/Report/Returned">
                                        Rtn Fresh Stock
                                    </a>
                                </th>
                                <th class="text-center whitespace-nowrap">
                                    Cl. Balance
                                </th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.SpWareHouseStockReport)
                            {

                                <tr>
                                    <td class="text-center">@i</td>
                                    <td class="text-center">
                                        @item.ItemCode
                                    </td>

                                    <td class="text-left">
                                        @Html.DisplayFor(modelItem => item.ItemName)
                                    </td>
                                    <td class="text-left">
                                        @Html.DisplayFor(modelItem => item.UnitName)
                                    </td>
                                    <td class="text-center" style="color:blueviolet;">
                                        @Html.DisplayFor(modelItem => item.OpeningStock)
                                    </td>
                                    <td class="text-center" style="color:blue;">
                                        @Html.DisplayFor(modelItem => item.inward)
                                    </td>
                                    <td class="text-center" style="color:red;">
                                        @Html.DisplayFor(modelItem => item.Outward)
                                    </td>
                                    <td class="text-center" style="color:aqua;">
                                        @Html.DisplayFor(modelItem => item.Freeze)
                                    </td>
                                    <td class="text-center" style="color:coral;">
                                        @Html.DisplayFor(modelItem => item.ReturnedFreshStock)
                                    </td>
                                    <td class="text-center" style="color:green; font-weight:bold;">
                                        @Html.DisplayFor(modelItem => item.closingbalance)
                                    </td>

                                </tr>


                                i++;
                            }
                        </tbody>
                    </table>
                </div>

            </div>







        }
    </div>

</div>
