@page
@model Nkgjjm.Areas.Panel.Pages.Ho.GrnDetailModel
@{
}
<div class="top-bar">
    <nav aria-label="breadcrumb" class="-intro-x mr-auto hidden sm:flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Application</a></li>
            <li class="breadcrumb-item active" aria-current="page">Item Received</li>
        </ol>
    </nav>
    <!-- END: Account Menu -->
</div>
<h2 class="intro-y text-lg font-medium mt-0" style="background-color:#02B9B5; text-align:center; font-weight:bolder; color:white;">
    Item Received
</h2>
<div class="intro-y box mt-5 pb-5">
    <form method="post" asp-page-handler="Receiveditem" enctype="multipart/form-data">
        <div id="horizontal-form" class="p-5">
            <div class="preview">
                <div class="form-inline">

                    <label for="horizontal-form-1" class="form-label sm:w-20"><strong>Po Id </strong></label>
                    <input type="text" name="Ponumber" class="form-control" asp-for="@Model.PoVehicledetail.PoNo" readonly id="searchtext" />

                    @* </div>
                    <div class="form-inline mt-5">*@

                    <label for="horizontal-form-1" class="form-label sm:w-20"><strong>Chln/ Inv number</strong></label>
                    <input type="text" class="form-control" readonly asp-for="@Model.PoVehicledetail.ChallanNumber" id="searchtext" />

                </div>
                <div class="form-inline mt-5">

                    <label for="horizontal-form-1" class="form-label sm:w-20"><strong>Chln/ Inv. Date</strong></label>
                    <input type="date" asp-for="@Model.PoVehicledetail.Challan_InvoiceDate" readonly class="form-control" id="searchtext" />

                    @* </div>
                    <div class="form-inline mt-5">*@

                    <label for="horizontal-form-1" class="form-label sm:w-20"><strong>Vehicle Number</strong></label>
                    <input type="text" asp-for="@Model.PoVehicledetail.VehicleNumber" readonly class="form-control" id="searchtext" />

                </div>
                <div class="form-inline mt-5">

                    <label for="horizontal-form-1" class="form-label sm:w-20"><strong>LR/Bilty No</strong></label>
                    <input type="text" class="form-control" readonly asp-for="@Model.PoVehicledetail.LR_BiltyNo" id="searchtext" />

                    @*</div>
                    <div class="form-inline mt-5">*@

                    <label for="horizontal-form-1" class="form-label sm:w-20"><strong>Transporter Name</strong></label>
                    <input type="text" class="form-control" readonly asp-for="@Model.PoVehicledetail.TransporterName" id="searchtext" />

                </div>
                <div class="form-inline mt-5">

                    <label for="horizontal-form-1" class="form-label sm:w-20"><strong>Warehouse Id</strong></label>
                    <input type="text" class="form-control" readonly asp-for="@Model.warehouse_id" name="warehouse" id="warehouse" />

                    <label for="horizontal-form-1" class="form-label sm:w-20"><strong>Warehouse Name</strong></label>
                    <input type="text" class="form-control" readonly asp-for="@Model.WarehouseName" name="warehouse" id="warehouseName" />

                </div>

            </div>
        </div>
        @if (Model.PoVehicledetail != null)
        {

            <div class="grid grid-cols-12 gap-6 mt-0" style="overflow-x:auto;">
                <!-- BEGIN: Data List -->
                <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
                    <table class="table table-report" id="orders">
                        <tr>
                            <th class="text-center whitespace-nowrap">
                                Item Code
                            </th>

                            <th class="text-center whitespace-nowrap">
                                Item Name
                            </th>
                            <th class="text-center whitespace-nowrap">
                                Challan Qty
                            </th>


                            <th class="text-center whitespace-nowrap">
                                Physical/Rcvd Qty
                            </th>

                        </tr>
                        @foreach (var item in Model.SPMaterialReceivedCorrespondenceToPo)
                        {
                            <tr>
                                <td class="text-center">@item.ItemCode</td>
                                <td class="text-center">@item.ItemName</td>
                                <td class="text-center">@item.Qty</td>
                                <td class="text-center">@item.TotalReceived</td>

                            </tr>
                        }
                    </table>
                </div>

            </div>

            <div class="p-5">
                <a href="/InwardDocument/@Model.PoVehicledetail.SupportedDocument" style="color:blue;" target="_blank">View Document</a>
            </div>
            <div id="horizontal-form" class="p-5">
                <div class="preview">
                    <div class="form-inline">
                        <label for="horizontal-form-1" class="form-label sm:w-20"><strong>Po Id </strong></label>
                        <select name="status" class="form-control" id="ddlstatus">
                            <option value="Select">Select</option>
                            <option value="Approved">Approved</option>
                            <option value="Rejected">Rejected</option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="horizontal-form" class="p-5 transactionno">
                <div class="preview">
                    <div class="form-inline">
                        <div class="form-inline mt-5" >
                            <label for="horizontal-form-1" class="form-label sm:w-20"><strong>Transaction No</strong></label>
                            <input type="text" class="form-control" id="txttransactionno"  name="txttransactionno"/>
                        </div>
                    </div>
                </div>
            </div>
            <div id="horizontal-form" class="p-5 reason">
                <div class="preview">
                    <div class="form-inline">
                        <div class="form-inline mt-5" >
                            <label for="horizontal-form-1" class="form-label sm:w-20"><strong>Reason</strong></label>
                            <input type="text" class="form-control" id="txtreason" name="txtreason" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="sm:pl-5 mt-1 mb-5">
                <input type="submit" value="Submit" id="add" class="btn btn-primary" />
                <!-- END: Data List -->
            </div>
            <input type="hidden" name="jobworkdesc">

        }
    </form>
</div>
<!-- BEGIN: Delete Confirmation Modal -->
@section Scripts {
    <script>
        $("#add").click(function() {
            var indentdesc = new Array();
            $('#orders tr').each(function(i, row) {
                var ItemId = $(this).closest('tr').find("td").eq(0).html();
                var Receivedqty = $(this).closest('tr').find("td").eq(3).html();
                var po = {};
                po.ItemId = ItemId;
                po.Receivedqty = Receivedqty;

                indentdesc.push(po);
            });
            document.getElementsByName("jobworkdesc")[0].value = JSON.stringify(indentdesc);
        });


        $(document).ready(function() {

            $(document).on('input', '#orders .Physicalqty', function() {
                var currentRow = $(this).closest("tr");
                var ActualQty = currentRow.find("td:eq(2) input").val();
                var Rcvdqty = currentRow.find("td:eq(5) input").val();
                var invoiceqty = currentRow.find("td:eq(4) input").val();
                var Balanceqty = parseFloat(ActualQty - Rcvdqty);
                var shorter = parseFloat(invoiceqty - Rcvdqty);
                currentRow.find("td:eq(6)").html(shorter);
                currentRow.find("td:eq(7)").html(Balanceqty);

            });
        });

        $("#ddlstatus").change(function() {
            if ($("#ddlstatus").val() == "Approved") {
                $(".transactionno").show();
                $("#txttransactionno").show();
                $(".reason").hide();
                $("#txtreason").hide();
            }
            else if ($("#ddlstatus").val() == "Rejected") {
                $(".reason").show();
                $("#txtreason").show();
                $(".transactionno").hide();
                $("#txttransactionno").hide();
            }
        });
    </script>

}