@page
@model Nkgjjm.Areas.Panel.Pages.Village.IndexModel

@{
    ViewData["Title"] = "Index";
    int i = 1;
}
<div class="top-bar">
    <nav aria-label="breadcrumb" class="-intro-x mr-auto hidden sm:flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Application</a></li>
            <li class="breadcrumb-item active" aria-current="page">Village List</li>
        </ol>
    </nav>
    <!-- END: Account Menu -->
</div>
<h2 class="intro-y text-lg font-medium mt-0" style="background-color:#02B9B5; text-align:center; font-weight:bolder; color:white;">
    Project-JJM-Village List
</h2>
<div class="grid grid-cols-12 gap-6 mt-1">
    <div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2">
        <a class="btn btn-primary shadow-md mr-2" asp-page="Create">Add New Village</a>
        <div class="hidden md:block mx-auto text-slate-500">Showing @Model.TotalVillageCount Village(s)</div>
        <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0">
            <div class="w-56 relative text-slate-500">
                <form method="post">
                    <input type="text" class="form-control w-56 box pr-10" name="Village" placeholder="Search...">
                    <i class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0" data-lucide="search"></i>
                </form>
            </div>
        </div>


    </div>
    <input type="button" id="btnExport" value="Export" onclick="exportReportToExcel(this)" class="btn btn-primary" />
    <!-- BEGIN: Data List -->
    <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
        <table class="table table-report" id="tbl">
            <thead>
                <tr>
                    <th class="text-center whitespace-nowrap">S.no.</th>
                    <th class="text-center whitespace-nowrap">District</th>
                    <th class="text-center whitespace-nowrap">Block</th>
                    <th class="text-center whitespace-nowrap">Grampanchayat</th>
                    <th class="text-center whitespace-nowrap">Village</th>
                    <th class="text-center whitespace-nowrap">Village Code</th>
                    <th class="text-center whitespace-nowrap">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.VillageList)
                {

                    <tr class="intro-x">
                        <td class="text-center">
                            @i
                        </td>
                        <td class="text-center">
                            @item.District

                        </td>
                        <td class="text-center">
                            @item.Block

                        </td>
                        <td class="text-center">
                            @item.GramPanchayat

                        </td>
                        <td class="text-center">
                            @item.Village

                        </td>
                        <td class="text-center">
                            @item.VillageCode

                        </td>

                        <td class="table-report__action w-56">
                            <div class="flex justify-center items-center">
                                <a class="flex items-center mr-3" asp-page="Edit" asp-route-id="@item.VillageCode"> <i data-lucide="check-square" class="w-4 h-4 mr-1"></i> Edit </a>
                                <a class="flex items-center text-danger" href="javascript:;" data-tw-toggle="modal" data-tw-target="#delete-confirmation-modal"> <i data-lucide="trash-2" class="w-4 h-4 mr-1"></i> Delete </a>
                            </div>
                        </td>
                    </tr>
                    i++;
                }

            </tbody>
        </table>
    </div>
    <!-- END: Data List -->

</div>
<!-- BEGIN: Delete Confirmation Modal -->
<div id="delete-confirmation-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="p-5 text-center">
                    <i data-lucide="x-circle" class="w-16 h-16 text-danger mx-auto mt-3"></i>
                    <div class="text-3xl mt-5">Are you sure?</div>
                    <div class="text-slate-500 mt-2">
                        Do you really want to delete these records?
                        <br>
                        This process cannot be undone.
                    </div>
                </div>
                <div class="px-5 pb-8 text-center">
                    <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-24 mr-1">Cancel</button>
                    <button type="button" class="btn btn-danger w-24">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>







@*<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Villages[0].Block)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Villages[0].District)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Villages[0].GramPanchayat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Villages[0].Village)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Villages[0].VillageCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Villages) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Block)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GramPanchayat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Village)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VillageCode)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@

@section Scripts{
    <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
    <script>
        function exportReportToExcel() {
            let table = document.getElementsByTagName("table"); // you can use document.getElementById('tableId') as well by providing id to the table tag
            TableToExcel.convert(table[0], { // html code may contain multiple tables so here we are refering to 1st table tag
                name: `export.xlsx`, // fileName you could use any name
                sheet: {
                    name: 'Sheet 1' // sheetName
                }
            });
        }
    </script>

            }