@page
@model Nkgjjm.Areas.Admin.Pages.IndexModel
@{

}

<div class="top-bar">
    <nav aria-label="breadcrumb" class="-intro-x mr-auto hidden sm:flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Application</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
    </nav>
    <!-- END: Account Menu -->
</div>
<div class="grid grid-cols-12 gap-6">
    <div class="col-span-12 2xl:col-span-9">
        <div class="grid grid-cols-12 gap-6">
            <!-- BEGIN: General Report -->
            <div class="col-span-12 mt-0">
                <div class="intro-y flex items-center h-10">
                    <h2 class="text-lg font-medium truncate mr-5">
                        General Report
                    </h2>

                </div>
                <div class="grid grid-cols-12 gap-6 mt-5">
                    <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                        <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="flex">
                                    <i data-lucide="edit" class="report-box__icon text-primary"></i>

                                </div>
                                <div class="text-3xl font-medium leading-8 mt-6">471</div>
                                <div class="text-base text-slate-300 mt-1">Active Po's</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                        <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="flex">
                                    <i data-lucide="credit-card" class="report-box__icon text-pending"></i>

                                </div>
                                <div class="text-3xl font-medium leading-8 mt-6">3.721</div>
                                <div class="text-base text-slate-500 mt-1">Job Orders</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                        <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="flex">
                                    <i data-lucide="file-minus" class="report-box__icon text-warning"></i>

                                </div>
                                <div class="text-3xl font-medium leading-8 mt-6">2.149</div>
                                <div class="text-base text-slate-500 mt-1">Pending Indents</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                        <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="flex">
                                    <i data-lucide="box" class="report-box__icon text-success"></i>

                                </div>
                                <div class="text-3xl font-medium leading-8 mt-6">@Model.Totalwarehouse</div>
                                <div class="text-base text-slate-500 mt-1">Total Warehouses</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                        <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="flex">
                                    <i data-lucide="users" class="report-box__icon text-success"></i>

                                </div>
                                <div class="text-3xl font-medium leading-8 mt-6">152.040</div>
                                <div class="text-base text-slate-500 mt-1">Active Users</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                        <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="flex">
                                    <i data-lucide="activity" class="report-box__icon text-success"></i>

                                </div>
                                <div class="text-3xl font-medium leading-8 mt-6">152.040</div>
                                <div class="text-base text-slate-500 mt-1">Active Sites</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                        <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="flex">
                                    <i data-lucide="box-select" class="report-box__icon text-success"></i>

                                </div>
                                <div class="text-3xl font-medium leading-8 mt-6">152.040</div>
                                <div class="text-base text-slate-500 mt-1">Under Process</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                        <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="flex">
                                    <i data-lucide="thumbs-up" class="report-box__icon text-success"></i>

                                </div>
                                <div class="text-3xl font-medium leading-8 mt-6">152.040</div>
                                <div class="text-base text-slate-500 mt-1">Completed</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-span-12 2xl:col-span-3">
        <div class="2xl:border-l -mb-10 pb-10">
            <div class="2xl:pl-6 grid grid-cols-12 gap-x-6 2xl:gap-x-0 gap-y-6">
                <!-- BEGIN: Transactions -->
                <div class="col-span-12 md:col-span-6 xl:col-span-4 2xl:col-span-12 mt-0 2xl:mt-8">
                    <div class="intro-x flex items-center h-10">
                        <h2 class="text-lg font-medium truncate mr-5">
                            Total Count
                        </h2>
                    </div>
                    <div class="mt-5">
                        <div class="intro-x">
                            <a href="/panel/District">
                                <div class="box px-5 py-3 mb-3 flex items-center zoom-in">
                                    <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                                    </div>
                                    <div class="ml-4 mr-auto">
                                        <div class="font-medium">District</div>

                                    </div>
                                    <div class="text-success">@Model.TotalDistrict</div>
                                </div>
                            </a>
                        </div>
                        <div class="intro-x">
                            <a href="/panel/Blocks">
                                <div class="box px-5 py-3 mb-3 flex items-center zoom-in">
                                    <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                                    </div>
                                    <div class="ml-4 mr-auto">
                                        <div class="font-medium">Block</div>

                                    </div>
                                    <div class="text-success">@Model.TotalBlock</div>
                                </div>
                            </a>
                        </div>
                        <div class="intro-x">
                            <a href="/panel/gp">
                                <div class="box px-5 py-3 mb-3 flex items-center zoom-in">
                                    <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                                    </div>
                                    <div class="ml-4 mr-auto">
                                        <div class="font-medium">Grampanchayat</div>

                                    </div>
                                    <div class="text-success">@Model.TotalGp</div>
                                </div>
                            </a>
                        </div>
                        <div class="intro-x">
                            <a href="/panel/Village">
                                <div class="box px-5 py-3 mb-3 flex items-center zoom-in">
                                    <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                                    </div>
                                    <div class="ml-4 mr-auto">
                                        <div class="font-medium">Village</div>

                                    </div>
                                    <div class="text-success">@Model.TotalVillage</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="col-span-12 mt-6">

    <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
        <table class="table table-report sm:mt-2">
            <thead>
                <tr>

                    <th class="text-center whitespace-nowrap">Id</th>
                    <th class="text-center whitespace-nowrap">District</th>
                    <th class="text-center whitespace-nowrap">Block</th>
                    <th class="text-center whitespace-nowrap">GramPanchayat</th>
                    <th class="text-center whitespace-nowrap">Village</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TotalCount)
                {
                    <tr class="intro-x">
                        <td class="text-center">@item.id</td>
                        <td class="text-center">
                            <a href="#" class="font-medium whitespace-nowrap">@item.District</a>

                        </td>
                        <td class="text-center">@item.TotalBlock</td>
                        <td class="text-center">
                            @item.TotalGp
                        </td>
                        <td class="text-center">
                            @item.TotalVillage
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>
