@page
@model Nkgjjm.Areas.Panel.Pages.Ho.ViewIndentModel
@{
}
<div class="top-bar">
    <nav aria-label="breadcrumb" class="-intro-x mr-auto hidden sm:flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Application</a></li>
            <li class="breadcrumb-item active" aria-current="page">View Indent</li>
        </ol>
    </nav>
    <!-- END: Account Menu -->
</div>
<h2 class="intro-y text-lg font-medium mt-0" style="background-color:#02B9B5; text-align:center; font-weight:bolder; color:white;">
    View Indent
</h2>

<div id="horizontal-form" class="p-5">
    <form method="post" asp-page-handler="Search">
        <div class="preview">
            <div class="form-inline">

                <label for="horizontal-form-1" class="form-label sm:w-20"><strong>Job id </strong></label>
                <input type="text" name="searchtext" class="form-control" readonly id="searchtext" value="@Model.searching" style="background-color:wheat;" />

            </div>
        </div>
        <div class="preview">
            <div class="form-inline mt-5">

                <label for="horizontal-form-1" class="form-label sm:w-20"><strong>Status </strong></label>
                <select name="status" class="form-control" id="searchtext">
                    <option>
                        Select
                    </option>
                    <option value="true">
                        Approve
                    </option>
                    <option value="false">
                        Reject
                    </option>
                </select>

            </div>
        </div>
        <div class="preview">
            <div class="form-inline mt-5">

                <input type="submit" value="Submit" class="btn btn-primary" />
                

            </div>
        </div>
    </form>
</div>
@if (Model.SPMaterialIssuance != null && Model.SPMaterialIssuance.Count > 0)
{
    <form method="post" asp-page-handler="CreateIndent">
        <div class="grid grid-cols-12 gap-6 mt-0">
            <!-- BEGIN: Data List -->
            <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
                <table class="table table-report" id="orders">

                    <tr>
                        <th class="text-center whitespace-nowrap">
                            Item Id
                        </th>
                        <th class="text-center whitespace-nowrap">
                            Item Name
                        </th>
                        <th class="text-center whitespace-nowrap">
                            Qty
                        </th>

                        <th class="text-center whitespace-nowrap">
                            Picked Qty
                        </th>
                        <th class="text-center whitespace-nowrap">
                            Balance
                        </th>
                        <th class="text-center whitespace-nowrap">
                            Demand
                        </th>

                    </tr>
                    @foreach (var item in Model.SPMaterialIssuance)
                    {
                        double TotalQty = item.Qty;
                        double Pickedqty = item.Pickedqty;
                        double BalanceQty = TotalQty - Pickedqty;
                        <tr>
                            <td class="text-center">@item.RawMaterialId</td>
                            <td class="text-center">@item.ItemName</td>
                            <td class="text-center">@item.Qty</td>
                            <td class="text-center">@item.Pickedqty</td>
                            <td class="text-center">@BalanceQty</td>
                            <td class="text-center">@item.Demand</td>

                        </tr>
                    }
                </table>
            </div>



        </div>

    </form>
}